.App {
  text-align: center;
}

body {background: black}

.avalehepilt {width: 100%;
height: 380px;}

h1 {color: rgb(88, 197, 234);
text-align: center;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 40px;}

.tekst {color: rgb(179, 236, 255);
text-align: center;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 20px;}

.rectangle {height: 7px;
width: 100px;
background-color: rgb(88, 197, 234);
margin: 50px auto;}

.navigation-pictures {display: flex;
justify-content: space-evenly;
margin-top: 50px;}

.navigation-pictures img {height: 150px;
width: 210px;
cursor: pointer;}

.navigation-pictures img:hover {scale: 1.1;
transition: 0.5s;
}

.main-link {color: black;
background-color: white;
width: 300px;
height: 200px;
margin-top: 20px;
padding: 20px 0;
border-radius: 10px;
text-align: center;
text-decoration: none;
font-family:Georgia, 'Times New Roman', Times, serif;}

.nupulink {text-decoration: none;}

.nupp {
background: rgb(88, 197, 234);
color: white;
display: flex;
text-align: center;
justify-content: center;
margin: auto;
border: none;
padding: 7px;
text-decoration: none;

}

.nupp:hover {background: white;
color: black;
cursor: pointer;}

.kursus {background: rgb(88, 197, 234);
color: white;
flex-direction: row-reverse;
text-align: center;
margin: 10px;
border: none;
padding: 7px;
text-decoration: none;
cursor: pointer;}

.kursus-aktiivne {background: white;
color: black;

border: none;
padding: 15px;
text-decoration: none;
margin: 10px;
flex-direction: row-reverse;
text-align: center;}

.courses-tekst {color: white;
text-align: center;}
